<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="../../static/js/main.js?s=2124"></script>
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <script src="../../static/layui/lay/modules/jquery.js"></script>
    <script src="../../static/layui/lay/modules/form.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <form id="form1" class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">ID：</label>
            <label class="layui-form-mid">{{.cabinet.CabinetID}}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门数：</label>
            <label class="layui-form-mid">{{.cabinet.Doors}}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用：</label>
            <label class="layui-form-mid">{{.cabinet.OnUse}}/{{.cabinet.Doors}}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-inline">
                <select name="type" disabled id="type1" required lay-verify="required">
                <option value="">请选择一个类型</option>
                {{range $index, $elem := .types}}
                    <option value="{{$elem.Id}}" {{if eq $elem.Id $.cabinet.TypeId }}
                            selected {{end}}>{{$elem.Name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('type1').removeAttribute('disabled');layui.form.render('select')})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">位置：</label>
            <div class="layui-input-inline">
                <input id="address" type="text" name="address" required lay-verify="required" placeholder="请输入位置"
                       autocomplete="off" class="layui-input" value="{{.cabinet.Address}}" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('address').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号：</label>
            <div class="layui-input-inline">
                <input id="number" type="text" name="number" required lay-verify="required" placeholder="请输入编号"
                       autocomplete="off" class="layui-input" value="{{.cabinet.Number}}" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('number').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline">
                <input id="desc" type="text" name="desc" placeholder="请输入备注"
                       autocomplete="off" class="layui-input" value="{{.cabinet.Desc}}" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('desc').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <input type="hidden" id="id" name="id" value="{{.cabinet.Id}}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
    <table class="layui-table"
           id="idTest"
           lay-data="{width: 'full-10', height: 'full-105', url:'/cabinetDetail/table?id='+{{.cabinet.Id}}, page:false, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'Door', width:100, align:'center', templet:'#idTpl'}">门号</th>
            <th lay-data="{field:'OpenState', width:150, align:'center'}">开关状态</th>
            <th lay-data="{field:'Using', width:150, align:'center'}">占用</th>
            <th lay-data="{field:'UserID', width:150, align:'center'}">存物ID</th>
            <th lay-data="{field:'StoreTime', width:200, align:'center'}">存物时间</th>
            <th lay-data="{field:'Id', width:150, align:'center', templet:'#switchTpl'}">启用</th>
            <th lay-data="{fixed:'right', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="use" value="{{.Id}}" lay-skin="switch" lay-text="开|关" checked lay-filter="switch"
        {{/*{{if eq d.UseState 1}}checked{{end}}*/}}></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="open">开门</a>
        <a class="layui-btn layui-btn-xs" lay-event="clear">清除</a>
        <a class="layui-btn layui-btn-xs" lay-event="record">记录</a>
    </script>
    <script type="text/javascript">
        layui.use(['form','table','jquery'], function(){
          var table = layui.table;
          var form = layui.form;
          var $ = layui.jquery;

          form.on('submit(formDemo)', function(data){
            var form_data = $("form").serialize();
            $.post('{{urlfor "CabinetController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
          });

          //监听开关
          form.on('switch(switch)', function(data){
            console.log(this.value, this.checked)
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'));
            var data = {id:1, use:(this.checked ? 1 : 2)};
            $.post('{{urlfor "CabinetDetailController.ChangeUse"}}', data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
           return false;
          });

            //监听工具条
          table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'use'){
              layer.msg(data)
            } else if(obj.event === 'open'){
              layer.msg('CabinetID：'+ {{ .cabinet.Id}} + 'doorId:' + data.Id + ' 的查看操作');
            } else if(obj.event === 'clear'){
              layer.confirm('确定清除么？', function(index){
                var data = {id:1};
                $.post('{{urlfor "CabinetDetailController.Clear"}}', data, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功",{icon: 1},function () {
                            window.location.reload()
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
                return false;
                layer.close(index);
              });
            } else if(obj.event === 'record'){
              layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
          });
        });
    </script>
</div>
</div>
</body>
</html>