<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/main.js?s=2124"></script>
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/layui/lay/modules/jquery.js"></script>
    <script src="../../static/layui/lay/modules/form.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <form id="form1" class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">ID：</label>
            <label class="layui-form-mid"><% .cabinet.CabinetID %></label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门数：</label>
            <label class="layui-form-mid"><% .cabinet.Doors %></label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用：</label>
            <label class="layui-form-mid"><% .cabinet.OnUse %>/<% .cabinet.Doors %></label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-inline">
                <select name="type" disabled id="type1" required lay-verify="required">
                <option value="">请选择一个类型</option>
                <% range $index, $elem := .types %>
                    <option value="<% $elem.Id %>" <% if eq $elem.Id $.cabinet.TypeId  %>
                            selected <% end %> ><% $elem.Name %></option>
                <% end %>
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('type1').removeAttribute('disabled');layui.form.render('select')})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">位置：</label>
            <div class="layui-input-inline">
                <input id="address" type="text" name="address" required lay-verify="required" placeholder="请输入位置"
                       autocomplete="off" class="layui-input" value="<% .cabinet.Address %>" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('address').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号：</label>
            <div class="layui-input-inline">
                <input id="number" type="text" name="number" required lay-verify="required" placeholder="请输入编号"
                       autocomplete="off" class="layui-input" value="<% .cabinet.Number %>" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('number').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-inline">
                <input id="desc" type="text" name="desc" placeholder="请输入备注"
                       autocomplete="off" class="layui-input" value="<% .cabinet.Desc %>" readonly>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" type="button"
                        onclick="(function(){document.getElementById('desc').readOnly=false})()">修改
                </button>
            </div>
        </div>
        <input type="hidden" id="id" name="id" value="<% .cabinet.Id %>">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
    <table class="layui-table"
           id="idTest"
           lay-data="{width: 'full-10', height: 'full-105', url:'/cabinetDetail/table?id='+<% .cabinet.Id %>, page:false, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'Door', width:100, align:'center'}">门号</th>
            <th lay-data="{field:'OpenState', width:150, align:'center', templet:'#closeTpl'}">开关状态</th>
            <th lay-data="{field:'Using', width:150, align:'center', templet:'#usingTpl'}">占用</th>
            <th lay-data="{field:'UserID', width:150, align:'center', templet:'#userTpl'}">存物ID</th>
            <th lay-data="{field:'StoreTimeFormated', width:200, align:'center'}">存物时间</th>
            <th lay-data="{field:'UseState', width:150, align:'center', templet:'#switchTpl'}">启用</th>
            <th lay-data="{fixed:'right', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="closeTpl">
        {{# if(d.OpenState === 1){ }}
            关
        {{# } else {  }}
            开
        {{# }  }}
    </script>
    <script type="text/html" id="usingTpl">
        {{#  if(d.Using === 1){ }}
            空闲
        {{#  } else {  }}
            占用
        {{#  }  }}
    </script>
    <script type="text/html" id="userTpl">
        {{#  if(d.UserID === "" || d.UserID === undefined){ }}
            --
        {{#  } else {  }}
            {{ d.UserID }}
        {{#  }  }}
    </script>
    <script type="text/html" id="switchTpl">
        {{#  if(d.UseState === 1){ }}
            <input type="checkbox" name="use" value="{{ d.Id }}" lay-skin="switch" lay-text="开|关" lay-filter="switch" checked/>
        {{#  } else {  }}
            <input type="checkbox" name="use" value="{{ d.Id }}" lay-skin="switch" lay-text="开|关" lay-filter="switch"/>
        {{#  }  }}
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="open">开门</a>
        <a class="layui-btn layui-btn-xs" lay-event="clear">清除</a>
        <a class="layui-btn layui-btn-xs" lay-event="record">记录</a>
    </script>
    <script type="text/javascript">
        layui.use(['form','table','jquery'], function(){
          var table = layui.table;
          var form = layui.form;
          var $ = layui.jquery;

          form.on('submit(formDemo)', function(data){
            var form_data = $("form").serialize();
            $.post('<% urlfor "CabinetController.AjaxSave" %>', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
          });

          //监听开关
          form.on('switch(switch)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'));
            var data = {id:this.value, use:(this.checked ? 1 : 2)};
            $.post('<% urlfor "CabinetDetailController.ChangeUse" %>', data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
           return false;
          });

            //监听工具条
          table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'open'){
              layer.confirm('确定开门么？', function(index){
                var postdata = {id:data.Id};
                $.post('<% urlfor "CabinetController.Open" %>', postdata, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功",{icon: 1},function () {
                            window.location.reload()
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
                return false;
                layer.close(index);
              });
            } else if(obj.event === 'clear'){
              layer.confirm('确定清除么？', function(index){
                var postdata = {id:data.Id};
                $.post('<% urlfor "CabinetDetailController.Clear" %>', postdata, function (out) {
                    if (out.status == 0) {
                        layer.msg("操作成功",{icon: 1},function () {
                            window.location.reload()
                        })
                    } else {
                        layer.msg(out.message)
                    }
                }, "json");
                return false;
                layer.close(index);
              });
            } else if(obj.event === 'record'){
              window.location.href="/cabinetdetail/record?id="+data.Id
            }
          });
        });
    </script>
</div>
</div>
</body>
</html>