<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><% .siteName %></title>
    <% if .zTree %>
        <link rel="stylesheet" href="/static/zTree3/css/demo.css?t=5" type="text/css">
        <link rel="stylesheet" href="/static/zTree3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <% end %>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/js/main.js?s=2124"></script>
</head>
<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <table class="layui-table"
           id="idTest"
           lay-data="{width: 'full-10', height: 'full-105', url:'/cabinet/table', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'CabinetID', width:200, align:'center', templet: '#idTpl'}">ID</th>
            <th lay-data="{field:'IsOnline', width:150, align:'center', templet: '#onlineTpl'}">在线</th>
            <th lay-data="{field:'Doors', width:150, align:'center', templet: '#doorTpl'}">门数</th>
            <th lay-data="{field:'OnUse', width:150, align:'center', templet: '#useTpl'}">使用情况</th>
            <th lay-data="{field:'Close', width:150, align:'center', templet: '#closeTpl'}">开关状态</th>
            <th lay-data="{field:'TypeName', width:150, align:'center', templet: '#typeTpl'}">类型</th>
            <th lay-data="{fixed:'right', width:150, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="idTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.CabinetID }}</span>
        {{#  } else {  }}
            {{ d.CabinetID }}
        {{#  }  }}
    </script>
    <script type="text/html" id="onlineTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.IsOnline }}</span>
        {{#  } else {  }}
            {{ d.IsOnline }}
        {{#  }  }}
    </script>
    <script type="text/html" id="doorTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.Doors }}</span>
        {{#  } else {  }}
            {{ d.Doors }}
        {{#  }  }}
    </script>
    <script type="text/html" id="useTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.OnUse }}/{{ d.Doors}}</span>
        {{#  } else {  }}
            {{ d.OnUse }}/{{ d.Doors}}
        {{#  }  }}
    </script>
    <script type="text/html" id="closeTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.Close }}/{{ d.Doors}}</span>
        {{#  } else {  }}
            {{ d.Close }}/{{ d.Doors}}
        {{#  }  }}
    </script>
    <script type="text/html" id="typeTpl">
        {{#  if(d.IsOnline === '否'){ }}
            <span style="color: #A6A6A6;">{{ d.TypeName }}</span>
        {{#  } else {  }}
            {{ d.TypeName }}
        {{#  }  }}
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-mini" lay-event="detail">详情</a>
    </script>
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use('table', function(){
          var table = layui.table;
        });
    </script>
</div>
<body>
<script>
    var $;
    layui.config({
            base : "js/"
    }).use(['table','element','layer','jquery'], function(){
        var table = layui.table;
        var element = layui.element;
        $ = layui.jquery
    //监听表格复选框选择
    table.on('checkbox(demo)', function(obj){
        console.log(obj);
    });

    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            window.location.href="/cabinet/detail?id="+data.Id
        }
    });
});

</script>
</body>
</html>