<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><% .siteName %></title>
    <% if .zTree %>
        <link rel="stylesheet" href="/static/zTree3/css/demo.css?t=5" type="text/css">
        <link rel="stylesheet" href="/static/zTree3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <% end %>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/js/main.js?s=2124"></script>
</head>
<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <form id="form1" class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-inline">
                <input id="name" type="text" name="name" required lay-verify="required" placeholder="请输入类型名称"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计费方式：</label>
            <div class="layui-input-block">
                <input type="radio" lay-filter="radio" name="charge_mode" value="1" title="计次" checked>
                <input type="radio" lay-filter="radio" name="charge_mode" value="2" title="计时">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收费时间：</label>
            <div class="layui-input-block">
                <input type="radio" name="toll_time" value="1" title="存物时" checked>
                <input type="radio" name="toll_time" value="2" title="取物时">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格：</label>
            <div class="layui-input-inline">
                <input id="price" type="text" name="price" placeholder="￥" required lay-verify="required|data"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="unit" style="display: none">
            <label class="layui-form-label">计时单位：</label>
            <div class="layui-input-inline">
                <input id="unit" type="text" name="unit" placeholder="计时单位" required lay-verify="required|number"
                       autocomplete="off" class="layui-input" value="0">
            </div>
            <div class="layui-form-mid layui-word-aux">分钟</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button class="layui-btn site-demo-active" data-type="cancel">取消</button>
            </div>
        </div>
        <script>
        layui.use(['form','jquery'], function(){
          var form = layui.form
          ,layer = layui.layer
          var $ = layui.jquery;

          //监听提交
          form.on('submit(formDemo)', function(data){
            var form_data = $("form").serialize();
            $.post('<% urlfor "TypesController.AjaxSave" %>', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        parent.layui.element.tabDelete('kitTab', 1000);
                        parent.layui.element.tabChange('kitTab', 1000);
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
          });
          var active = {
             cancel: function(){
                parent.layui.element.tabDelete('kitTab', 1000);
             }
          };
          $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
          });
          form.on('radio(radio)', function(data){
            if(data.value==2){
              document.getElementById("unit").style.display="block"
            } else {
              document.getElementById("unit").style.display="none"
            }
          });
          form.verify({
            data: function(value, item){ //value：表单的值、item：表单的DOM对象
              if(!new RegExp("^[0-9]+\.?[0-9]*").test(value)){
                return '只能输入数字';
              }
            }
          });
        });
    </script>
    </form>
</div>
</html>