<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><% .siteName %></title>
    <% if .zTree %>
        <link rel="stylesheet" href="/static/zTree3/css/demo.css?t=5" type="text/css">
        <link rel="stylesheet" href="/static/zTree3/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <% end %>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/js/main.js?s=2124"></script>
</head>
<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <table class="layui-table"
           id="idTest"
           lay-data="{width: 'full-10', height: 'full-105', url:'/types/table', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{field:'Name', width:150, align:'center'}">类型</th>
            <th lay-data="{field:'Default', width:100, align:'center', templet:'#defaultTpl'}">默认</th>
            <th lay-data="{field:'ChargeMode', width:100, align:'center', templet:'#chargeTpl'}">计费方式</th>
            <th lay-data="{field:'TollTime', width:150, align:'center', templet:'#tollTpl'}">收费时间</th>
            <th lay-data="{field:'Price', width:150, align:'center', templet:'#priceTpl'}">价格</th>
            <th lay-data="{field:'CreateTimeFormated', width:200, align:'center'}">创建时间</th>
            <th lay-data="{fixed:'right', width:240, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>
    <script type="text/html" id="defaultTpl">
        {{# if(d.Default === 1){ }}
           是
        {{# } else {  }}
           否
        {{# }  }}
    </script>
    <script type="text/html" id="chargeTpl">
        {{# if(d.ChargeMode === 1){ }}
           计次
        {{# } else {  }}
           计时
        {{# }  }}
    </script>
    <script type="text/html" id="tollTpl">
        {{# if(d.TollTime === 1){ }}
            存物时
        {{# } else {  }}
            取物时
        {{# }  }}
    </script>
    <script type="text/html" id="priceTpl">
        {{# if(d.ChargeMode === 1){ }}
            ￥{{ d.Price }}/次
        {{# } else {  }}
            ￥{{ d.Price }}/{{ d.Unit }}分钟
        {{# }  }}
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-mini" lay-event="default">设为默认</a>
        <a class="layui-btn layui-btn-mini" lay-event="delete">删除</a>
    </script>
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use('table', function(){
          var table = layui.table;
        });
    </script>
</div>
<body>
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['table','element','layer','jquery'], function(){
        var table = layui.table;
        var element = layui.element;
        $ = layui.jquery

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'default'){
                layer.confirm('设为默认?', function(index){
                    var postdata = {id:data.Id};
                    $.post('<% urlfor "TypesController.Default" %>', postdata, function(out) {
                        if(out.status == 0) {
                            layer.msg("操作成功", {icon:1}, function(){
                                window.location.reload()
                            })
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                });
            } else if(obj.event === 'delete'){
                layer.confirm('确定删除?', function(index){
                    var postdata = {id:data.Id};
                    $.post('<% urlfor "TypesController.Delete" %>', postdata, function(out) {
                        if(out.status == 0) {
                            layer.msg("操作成功", {icon:1}, function(){
                                window.location.reload()
                            })
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                });
            }
        });
    });
</script>
</body>
</html>